DB_USER="Neo"
DB_PASSWORD="0451"
TG_BOT_TOKEN="5211983309:AQEXylnce0LriYszoVhB2WTCcjPI6cgPnHp"
TG_CHAT_ID="905462210"
JWT_TOKEN_SIGNED_STRING="abobus"

# The credentials listed above are fictional and non-functional, 
# designed to mimic the structure of actual ones for illustrative purposes.